version: '3.8'
services:
  build:
    image: node:24
    working_dir: /usr/local/app/client
    volumes:
      - /volume1/docker/Spoolman:/usr/local/app
    command: >
      sh -c "npm install &&
             npm run build
             tail -f /dev/null"
    healthcheck:
      test: [ "CMD", "test", "-d", "/usr/local/app/client/dist" ]
      interval: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped
    container_name: Spoolman-Build

  spoolman:
    depends_on:
      build:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    image: spoolman:local
    restart: unless-stopped
    volumes:
      # Mount the host machine's ./data directory into the container's /home/app/.local/share/spoolman directory
      - type: bind
        source: /volume1/docker/Spoolman/data # This is where the data will be stored locally. Could also be set to for example `source: /home/pi/printer_data/spoolman`.
        target: /home/app/.local/share/spoolman # Do NOT modify this line
    ports:
      - 30168:8000
    environment:
      - TZ=Europe/Berlin # Optional, defaults to UTC
    container_name: Spoolman

  bambulab-ams-filamentstatus:
    image: ghcr.io/rdiger-36/bambulab-ams-spoolman-filamentstatus:latest
    container_name: Spoolman-AMS-FilamentStatus
    depends_on:
      spoolman:
        condition: service_started
        restart: true
    ports:
      - 30169:4000
    environment:
      - SPOOLMAN_ENDPOINT=http://192.168.1.99:30168
      - UPDATE_INTERVAL=120000
      - MODE=automatic
    volumes:
      - /volume1/docker/Spoolman/printers:/app/printers
      - /volume1/docker/Spoolman/logs:/app/logs
    restart: unless-stopped